.gallery-wrrapper {
  max-width: 860px;
  min-width: 320px;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  width: 23%;
  min-height: 160px;
  margin: 1%;
  background-size: cover;
  background-position: center;
}

// Media query
@media ( max-width: 567px ) {
  .gallery-item {
    width: 31.3%;
    min-height: 140px;
  }
}