button {
  background-color: #0039a6;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  border: none;
  outline: none;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}
.btn-delete {
  background-color: rgb(207, 23, 23);
}
